<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filtrado por (Código):</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h4> {{listFilter}}</h4>
            </div>
        </div>
        <!-- {{concesionarios | json}} -->
        <div class='table-responsive'>
            <table class='table' *ngIf='productos && productos.length'>
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>Código de producto</th>
                        <th>Descripcion</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let c of filteredProductos'>

                        <td>{{ c.codigoProducto}}</td>
                        <td>{{ c.Descripcion}}</td>
                        
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                [routerLink]="['/producto/producto-edit',c.id]">
                                Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>

