<!-- <h1>{{title}}</h1>
<app-movie></app-movie>
<h2>{{movie.id}} Details</h2>
<div><span>id: </span>{{movie.id}}</div>
<div>
  <label for='name'>movie id 1: </label>
  <input id='name' [(ngModel)]="movie.id" placeholder="name">
</div> -->
<!-- <router-outlet></router-outlet> -->
<h2>Pelicula {{movie.id}}</h2>
<mat-toolbar color="primary">
  SOAP Calculator app
  <span style="flex: 1 1 auto"></span>
  <button mat-button (click)="showDiagnostic = !showDiagnostic">
    <ng-container *ngIf="!showDiagnostic">Show Diagnostic</ng-container>
    <ng-container *ngIf="showDiagnostic">Hide Diagnostic</ng-container>
  </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading" color="accent"></mat-progress-bar>

<div fxLayout="row" fxLayoutGap="20px" class="container">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Operation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        
        <input matInput name="id" [(ngModel)]="movie.id" placeholder="id">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="getMovieRequest()" [disabled]="loading">get movie</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>Result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput readonly [(ngModel)]="message" placeholder="{{resultLabel}}">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutGap="20px" class="container" *ngIf="showDiagnostic">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>XML Response</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ xmlResponse }}
    </mat-card-content>
<br>
    <mat-card-content>
      {{ message }}
    </mat-card-content>
  </mat-card>
</div>