<!-- <h1>{{title}}</h1>
<app-movie></app-movie>
<h2>{{movie.id}} Details</h2>
<div><span>id: </span>{{movie.id}}</div>
<div>
  <label for='name'>movie id 1: </label>
  <input id='name' [(ngModel)]="movie.id" placeholder="name">
</div> -->
<!-- <router-outlet></router-outlet> -->
<h2>Pelicula {{movie.id}}</h2>

  <button (click)="showDiagnostic = !showDiagnostic">
    <ng-container *ngIf="!showDiagnostic">Show Diagnostic</ng-container>
    <ng-container *ngIf="showDiagnostic">Hide Diagnostic</ng-container>
  </button>



      <div>
        <input name="id" [(ngModel)]="movie.id" placeholder="id">
      </div>

    <div>
      <button color="primary" (click)="getMovieRequest()" [disabled]="loading">get movie</button>
    </div>
    <div>
      <span>Response</span>
        <input readonly [(ngModel)]="message" placeholder="{{resultLabel}}">

</div>

<div *ngIf="showDiagnostic">
  <h2>XML Response</h2> <br>
  <div><span>{{xmlResponse}}</span></div>
<br>
    
  <div><span>{{message}}</span></div>
</div>