<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filtrado por (nombre):</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h4> {{listFilter}}</h4>
            </div>
        </div>
        <!-- {{concesionarios | json}} -->
        <div class='table-responsive'>
            <table class='table' *ngIf='peliculas && peliculas.length'>
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>id</th>
                        <th>titulo</th>
                        <th>director</th>
                        <th>genero</th>
                        <th>año de estreno</th>
                        <th>duracion</th>
                        <th>precio</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let c of filteredPeliculas'>

                        <td>{{ c.id}}</td>
                        <td>{{ c.title}}</td>
                        <td>{{ c.director}}</td>
                        <td>{{ c.genre}}</td>
                        <td>{{ c.release}}</td>
                        <td>{{ c.runtime}}</td>
                        <td>{{ c.price}}</td>

                        
                        
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                [routerLink]="['/producto/producto-edit',c.id]">
                                Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>

